/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 10, 2015, 2:13:45 PM
    Author     : Admin
*/
.margin{
    margin: 20px;
}
.table-fontsize{
    font-size:14pt;
    width: 70%;
    margin-left:auto; 
    margin-right:auto; 
}
.rightPlus{
    text-align:right;
    position: relative;
    right: 15%;
}
.header{
    text-align:left;
    position: relative;
    left: 30%;
}
.form-width{
    width: 200px;
}
.textarea{
    max-width: 495px;
}
.size {
    font-size: 14px;
}
a.disabled:hover
{
    text-decoration:none;
}
li.welcome{
    padding:13px 17px;
    font-size: 16px; 
    color: white;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.column1 { width: 500px; }
.column2 { width: 100px; }
.column3 { width: 50px; }
.column4 { width: 50px; }
.column5 { width: 50px; }