<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:include src="navbar.xhtml" />
        <b:container >                
            <h1>Change Password</h1>

            <h:form >
                <h:panelGrid cellpadding="5" >
                    <f:event listener="#{userController.validatePassword}" type="postValidate" />
                    <b:inputSecret required="true" placeholder="original password" id="oldpassword" requiredMessage="Please enter the old password" value="#{passwordController.password}" >
                        <f:facet name="prepend">
                            <b:icon name="lock"/>
                        </f:facet>
                    </b:inputSecret>
                    <b:inputSecret required="true" placeholder="new password" id="password" requiredMessage="Please enter the new password" value="#{passwordController.newPassword}">
                        <f:facet name="prepend">
                            <b:icon name="lock"/>
                        </f:facet>
                    </b:inputSecret>
                    <b:inputSecret required="" placeholder="confirm new password" id="confirmPassword">
                        <f:facet name="prepend">
                            <b:icon name="lock"/>
                        </f:facet>
                    </b:inputSecret>
                </h:panelGrid>
                <h:messages styleClass="alert alert-danger"/>
                <b:commandButton value="Change" look="primary" action="#{passwordController.changePsw}"/>
            </h:form>
        </b:container>
    </h:body>
</html>

