<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>home</title>
    </h:head>
    <h:body>
        <ui:include src="navbar.xhtml" />
        <b:container>
            <div class="rightPlus">
                <h1 class='header'>All Posts</h1>
                <h:form><b:commandButton class="btn btn-info btn-lg" value="Download" action="#{postContorller.downloadCSV}" icon="glyphicon glyphicon-floppy-save" look="info" ajax="false"/></h:form>
                
            </div>
            <br/>
            <h:dataTable  class="table table-hover table-fontsize" var="post" value="#{postContorller.posts}">
                <h:column>                
                    <f:facet name="header">
                        Title
                    </f:facet>
                    <h:link outcome="details" value="#{post.title}"><f:param name="index" value="#{post.id}"/></h:link>
                </h:column>
                <h:column>                
                    <f:facet name="header">
                        Location
                    </f:facet>
                    <h:outputText value="#{post.suburb}"></h:outputText>
                </h:column>
                <h:column>                
                    <f:facet name="header">
                        Publish Date
                    </f:facet>
                    <h:outputText value="#{post.date}"></h:outputText>
                </h:column>
            </h:dataTable>
        </b:container>
    </h:body>
</html>