<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:include src="navbar.xhtml" />
        <div class="container">
            <h1>Payment</h1>
            <b>You are going to pay: AU$5.</b>
            
            <h:form>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <br/>
                            <label for="details">Credit Card </label>
                            <b:inputText placeholder="5625 3335 3322 1111" class="form-control form-width"  required="true" value="#{postContorller.title}" requiredMessage="Please enter the title"></b:inputText>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <h:messages/>
                    <b:commandButton value="Submit" look="primary" action="#{postContorller.saveAsNew}" />
                </div>
            </h:form>
        </div>
    </h:body>
</html>

