<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:include src="navbar.xhtml" />
        <b:container >  
            <h1>Profile</h1>
            <b:tabView activeIndex="0">
                <b:tab title="My plan">
                    <h:panelGrid cellpadding="3" >
                        <h:form>
                            <h3>Member type</h3>
                            <b:selectOneMenu>
                                <f:selectItem itemValue="Free" itemLabel="Free - $0" />
                                <f:selectItem itemValue="Standard" itemLabel="Standard - $5/month" />
                                <f:selectItem itemValue="Premium" itemLabel="Coffee3 - $7/month" />
                            </b:selectOneMenu>
                            <b:commandButton value="Change" look="primary" action="#{passwordController.changePsw}"/>
                        </h:form>
                    </h:panelGrid>
                </b:tab>
                <b:tab title="Change password">
                    <h3>Change Password</h3>
                    <h:form >
                        <h:panelGrid cellpadding="5" >
                            <f:event listener="#{userController.validatePassword}" type="postValidate" />
                            <b:inputSecret required="true" placeholder="original password" id="oldpassword" requiredMessage="Please enter the old password" value="#{passwordController.password}" >
                                <f:facet name="prepend">
                                    <b:icon name="lock"/>
                                </f:facet>
                            </b:inputSecret>
                            <b:inputSecret required="true" placeholder="new password" id="password" requiredMessage="Please enter the new password" value="#{passwordController.newPassword}">
                                <f:facet name="prepend">
                                    <b:icon name="lock"/>
                                </f:facet>
                            </b:inputSecret>
                            <b:inputSecret required="" placeholder="confirm new password" id="confirmPassword">
                                <f:facet name="prepend">
                                    <b:icon name="lock"/>
                                </f:facet>
                            </b:inputSecret>
                        </h:panelGrid>
                        <h:messages styleClass="alert alert-danger"/>
                        <b:commandButton value="Change" look="primary" action="#{passwordController.changePsw}"/>
                    </h:form>
                </b:tab>
            </b:tabView>
        </b:container>
    </h:body>
</html>

